<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuffaboutcode.bluedot"
    android:versionName="1.1.1"
    android:versionCode="3">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="27"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bluebutton"
        android:label="Blue Dot"
        android:roundIcon="@mipmap/ic_launcher_bluebutton"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Devices"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Button"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>